@{
    ViewData["Title"] = "Home Page";
}

<div class="row well" style="margin: 15px; box-shadow: 0 2px 3px #c0c0c0">
    <div class="col-md-12 center-block text-center">
        <h1>Welcome to LibraryAPI</h1>
        <h3>> First you need to be authorized via client credentials.</h3>
        <h3>> Then you can start sending requests with an access token.</h3>
    </div>
</div>
